/* src/App.css */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  color: #163150;
}

h1,
h2 {
  color: #163150;
  font-weight: 600;
  /* Usando o peso 600 da fonte */
}

p {
  font-weight: 400;
  /* Usando o peso 400 da fonte */
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

button {
  background-color: #16ce9b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #13b78e;
}

.pools-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pool-card {
  background-color: white;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  padding: 20px;
  width: calc(33% - 40px);
  box-sizing: border-box;
}

.pool-card h3 {
  margin-top: 0;
}

.pool-card p {
  color: #657786;
}

@media (max-width: 768px) {
  .pools-container {
    flex-direction: column;
    align-items: center;
  }

  .pool-card {
    width: 100%;
  }
}